body {
  background-color: darkslategray;
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: lightslategray;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 20px auto;
  max-width: 900px;
}

h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th, table td {
  padding: 12px;
  border-bottom: 1px solid #333;
  text-align: center;
  background-color: wheat; 
  border-right:1px solid #333;
}

table th {
  background-color: teal;
  color: black;
  font-weight: bold;
  border-right:1px solid #333;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
  
  
}

table tbody tr:hover {
  background-color: #ddd;
}

table td:first-child {
  font-weight: bold;
  color: #333;
  border-right:1px solid #333;
}

table td:nth-child(2) {
  color: black;
  border-right:1px solid #333;
}

table td:nth-child(3),
table td:nth-child(4) {
  color: black;
}


